*{margin:0;padding:0;box-sizing:border-box;}

body{
    background-color:rgba(12, 44, 49, 0.76);
    color:white;
}

h1{
    background-color:rgba(12, 44, 49, 0.76);
    color:white;
    font-style: italic;
}

h2{
    background-color:rgba(12, 44, 49, 0.76);
    color:white;
    font-style: italic;    
}
input{
    text-align: right;
}